@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-dark: #1c1c1c;
    --clr-light: #d9d9d9;
    --clr-white: #FFFFFF;

    --fs-navbar: 2rem;
    --fs-myName: 10.5rem;
    --fs-myProfession: 4rem;
    --fs-subHeading: 6rem;
    --fs-subHeading_strong: 6.5rem;
    --fs-mySelfDescription: 2.2rem;
    --fs-medialElementH3: 2rem; 
    --fs-mediaElementP: 1.25rem;
    --fs-myEmail: 1.8rem;

    --w-logo: 100px;
    --lh-mySelfDescription: 4rem;
    --h-cardContainer: 400px;
    --w-card: 200px;
    --w-description: 40vw;
    --w-myPic-1: 30rem;
    --w-myPic-2: 27rem;

    --m-general: 4rem;
    --p-general: 4rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-size: 62.5%;
}

body {
    background: var(--clr-dark);
    color: var(--clr-white);
    font-family: 'Source Sans Pro';
    overflow-x: hidden;
}

/* HEADER-SECTION */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0px;
    padding: 0rem 4rem 0rem 4rem;
}

.sticky {
    position: sticky;
    top: 0;
    background: #050505;
    z-index: 3;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    width: var(--w-logo);
}

/* navbar  */
.nav > ul {
    display: flex;
    list-style: none;
    width: 460px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.06em;
    font-weight: 600;
    font-size: var(--fs-navbar);
    line-height: 125.2%;
}

/* navbar-items-list */
.nav-items-list > li { 
    transition: all, 1s;
    margin: 0 0 0 auto;
}

/* navbar-items */
.nav-items-list > li > a {
    text-decoration: none;
    color: var(--clr-white);
    position: relative;
}

.nav-items-list > li > a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 3px;
    width: 95%;
    height: 3px;
    background: #1FFFE4;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms ease-in;
}

.nav-items-list > li > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* INTRO-SECTION */

.intro-section {
    display: grid;
    width: min-content;
    place-items: center;
    margin: 16rem auto;
    grid-template-areas: 
            "img title"
            "img subtitle";
    grid-template-columns: min-content max-content;
}

.myPic-1 {
    grid-area: img;
    width: var(--w-myPic-1);
    margin-right: 2em;
    filter: drop-shadow(12px 12px 4px rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 2;
}

.MyIntro {
    font-size: var(--fs-myName);
    font-family: 'Source Sans Pro';
    font-weight: 300;
    letter-spacing: 0.06em;
    line-height: 1em;
}

.MyIntro > strong {
    color: #1FFFE4;
    display: block;
}

.myProfession {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-size: var(--fs-myProfession);
    background: #1FFFE4;
    color: var(--clr-dark);
    padding-right: 0.3em;
    transition: all 2s;
}

/* ABOUT-SECTION */

.about-section {
    font-size: var(--fs-mySelfDescription);
    display: flex;
    flex-direction: column;
    margin: 0 4rem 15rem;
}

.from-left {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.from-right {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
  
.from-left,
.from-right {
    transition: opacity 1s ease-in, transform 1s ease-in,
      -webkit-transform 0.8s ease-in;
    opacity: 0;
  }
  
.from-left.appear,
.from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

/* container wrapping pic and mySelf-description and the other skills container*/
.mySelfDiv, .mySkillsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--p-general) 2rem;
}

.mySkillsDiv {
    flex-direction: row-reverse;
}

.myPic-2 {
    width: var(--w-myPic-2);
    filter: drop-shadow(12px 12px 4px rgba(0, 0, 0, 0.3));
    flex-shrink: 0;
}

/* Who I am? heading */
.mySelf {
    font-weight: 300;
    font-size: var(--fs-subHeading);
    line-height: 100%;
    grid-area: "mySelf";
}

/* I am? and Skills heading */
.mySelf > strong, .mySkills > strong {
    font-weight: 700;
    font-size: var(--fs-subHeading_strong);
    color: #1FFFE4;
    display: block;
}

.mySkillsDescription {
    text-align: right;
}

/* My Skills heading */
.mySkills {
    font-weight: 300;
    font-size: var(--fs-subHeading);
    line-height: 100%;
    text-align: right;
    grid-area: "mySkills";
}

/* heading underline */
.mySelfUnderline, .mySkillsUnderline {
    border: 3px solid #1FFFE4;
    border-radius: 2px;
}

.mySelfUnderline {
    grid-area: "mySelfUnderline";
}

.mySelf-description, .mySkillsDescription {
    width: var(--w-description);
    font-weight: 300;
    line-height: var(--lh-mySelfDescription);
}

.mySkills-logo {
    display: grid;
    grid-template-columns: fit-content(200px) fit-content(200px);
    grid-template-rows: auto auto;
    justify-content: right;
    grid-column-gap: 100px;
    grid-row-gap: 10px;
}

.mySkills-logo i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-html5, .fa-css3-alt, .fa-square-js, .fa-react {
    transition: all 600ms ease-in-out;
    cursor: pointer;
}

.fa-html5:hover {
    color: #e34c26;
} 

.fa-css3-alt:hover {
    color: #264de4;
}

.fa-square-js:hover {
    color: yellow;
} 

.fa-react:hover {
    color: #61DBFB;
} 

.fa-html5:hover, .fa-css3-alt:hover, .fa-square-js:hover, .fa-react:hover {
    transform: scale(1.2);
}

/* WORK-SECTION */

.work-section {
    margin: 0rem 4rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-section-title {
    font-size: var(--fs-subHeading);
    font-weight: 300;
}

.work-section-title strong {
    font-size: var(--fs-subHeading_strong);
    font-weight: 700;
    color: #1FFFE4;
}

.work-section hr {
    margin-top: 0.5rem;
    width: 13%;
    border: 2px solid #1FFFE4;
    border-radius: 2px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 15));
    }
}

.media-scoller {
    box-shadow: inset 12px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 4rem;
    height: var(--h-cardContainer);
    width: 100%;
    background: #1FFFE4;

    display: grid;
    overflow: hidden;

    align-items: center;
}

.media-track {
    display: flex;
    width: calc(var(--w-card) * 30);
    justify-content: space-around;

    animation: scroll 40s linear infinite;
}

.media-track:hover {
    animation-play-state: paused;
}

.media-track:visited {
    animation-play-state: running;
}

.media-element {
    width: var(--w-card) ;
    height: calc(11/8 * var(--w-card));
    background: #1C1C1C;
    border: 2px solid #FFFFFF;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
}

.media-element h3 {
    font-size: var(--fs-medialElementH3);
    text-decoration: underline;
    color: #FFFFFF;
}

.media-element img {
    border: 1px solid #FFFFFF;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    transition: all 450ms ease-in;
}

.media-element img:hover {
    opacity: 0.4;
    transform: scale(1.15);
}

.media-element p {
    color: #FFFFFF;
    font-size: var(--fs-mediaElementP);
    letter-spacing: 0.05rem;
}

/* FOOTER-SECTION */

footer {
    height: 150px;
    background: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-size: var(--fs-myEmail);
    color: #1FFFE4;
    margin: 1.2rem;
}

.social-links {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-github {
    color: white;
}

.fa-discord {
    color: #5865F2;
}

.fa-linkedin {
    color: #0072b1;
}

.fa-twitter {
    color: #00acee;
}

.social-links a i {
    transition: transform 300ms;
}

.social-links a i:hover {
    transform: scale(1.3);
    color: #1FFFE4;
    background: #00ffe1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1200px) {

    :root {
        --clr-dark: #1c1c1c;
        --clr-light: #d9d9d9;
        --clr-white: #FFFFFF;
    
        --fs-navbar: 1.8rem;
        --fs-myName: 8rem;
        --fs-myProfession: 3rem;
        --fs-subHeading: 4.5rem;
        --fs-subHeading_strong: 5rem;
        --fs-mySelfDescription: 1.8rem;
        --fs-medialElementH3: 1.8rem;
        --fs-mediaElementP: 1.1rem;
        --fs-myEmail: 1.5rem;

        --lh-mySelfDescription: 3.8rem;
        --w-card: 175px;
        --h-cardContainer: 320px;
        --w-myPic-1: 25rem;
        --w-myPic-2: 23rem;
    }



  }

@media screen and (max-width: 1000px) {
    :root {
        --lh-mySelfDescription: 3rem;
        --fs-subHeading: 4rem;
        --fs-subHeading_strong: 4.5rem;

        --w-description: 45vw;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --clr-dark: #1c1c1c;
        --clr-light: #d9d9d9;
        --clr-white: #FFFFFF;
    
        --fs-navbar: 1.8rem;
        --fs-myName: 6rem;
        --fs-myProfession: 2.5rem;
        --fs-subHeading: 3.5rem;
        --fs-subHeading_strong: 4rem;
        --fs-mySelfDescription: 1.2rem;
        --fs-medialElementH3: 1.6rem;
        --fs-mediaElementP: 0.9rem;
        --fs-myEmail: 1.3rem;

        --lh-mySelfDescription: 2.5rem;
        --w-card: 150px;
        --h-cardContainer: 280px;
        --w-description: 40vw;

        --w-myPic-1: 20rem;
        --w-myPic-2: 20rem;
    }

    .intro-section {
        margin: 17rem auto;
    }

    .fa-html5, .fa-css3-alt, .fa-square-js, .fa-react {
        font-size: 8rem;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --clr-dark: #1c1c1c;
        --clr-light: #d9d9d9;
        --clr-white: #FFFFFF;
    
        --fs-navbar: 1.8rem;
        --fs-myName: 5rem;
        --fs-myProfession: 2.2rem;
        --fs-subHeading: 4.5rem;
        --fs-subHeading_strong: 5rem;
        --fs-mySelfDescription: 1.5rem;
        --fs-medialElementH3: 1.8rem;
        --fs-mediaElementP: 1rem;
        --fs-myEmail: 1.5rem;

        --lh-mySelfDescription: 2.8rem;
        --w-card: 175px;
        --h-cardContainer: 320px;

        --w-myPic-1: 80vw;
        --w-myPic-2: 50vw;
    }

    .intro-section, .about-section, .work-section {
        margin: 4rem 3.5rem 8rem 3.5rem;
    }

    .intro-section {
        display: block;
        flex-direction: column;
        justify-content: left;
    }

    .MyIntro {
        width: max-content;
        margin-bottom: 1rem;
    }

    .myProfession {
        display: inline-block;
        width: max-content;
        left: 0;
        text-align: center;
        margin-bottom: 2rem;
        padding: 1rem;
        font-weight: 700;
    }

    .nav {
        display: none;
    }
    .myPic-1 {
        display: block;
        position: relative;
        margin: 0;
    }

    .about-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mySelfDiv {
        flex-direction: column-reverse;
        width: 100%;
    }

    .myPic-2 {
        margin-bottom: var(--m-general);
    }

    .mySkillsDiv {
        flex-direction: column-reverse;
    }
    .mySkills-logo {
        margin-bottom: var(--m-general);
    }

    .mySelf > strong, .mySkills > strong {
        display: inline;
    }

    .mySelf-description, .mySkillsDescription {
        text-align: center;
        width: 100%;
    }

    .mySelfUnderline, .mySkillsUnderline {
        display: none;
        margin-bottom: 0.4rem;
        width: 10%;
    }

    .fa-html5, .fa-css3-alt, .fa-square-js, .fa-react {
        font-size: 8rem;
    }

    .work-section hr {
        display: none;
    }

    .social-links {
        width: 250px;
    }


    .fa-discord, .fa-github, .fa-instagram, .fa-linkedin, .fa-twitter {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 350px) {
    :root {
        --fs-myName: 3rem;
        --fs-myProfession: 1.8rem;

        --fs-subHeading: 4rem;
        --fs-subHeading_strong: 4.5rem;
    }

    .delay {
        transition-delay: 2s;
    }
}

@media screen and (max-width: 270px) {
    :root {
        --fs-navbar: 2rem;
        --fs-myName: 2rem;
        --fs-myProfession: 1.5rem;
        --fs-subHeading: 3.5rem;
        --fs-subHeading_strong: 4rem;
        --fs-mySelfDescription: 1.3rem;
        --fs-medialElementH3: 1.5rem;
        --fs-mediaElementP: 0.8rem;
        --fs-myEmail: 1.5rem;

        --w-logo: 80px;
        --lh-mySelfDescription: 2.5rem;
        --w-card: 150px;
        --h-cardContainer: 290px;
    }

    .mySkills-logo {
        grid-column-gap: 70px;
    }

    .fa-html5, .fa-css3-alt, .fa-square-js, .fa-react {
        font-size: 6rem;
    }

    .social-links {
        width: 200px;
    }

    .fa-discord, .fa-github, .fa-instagram, .fa-linkedin, .fa-twitter {
        font-size: 2rem;
    }
}

@media screen and (max-width: 240px) {
    :root {
        --fs-navbar: 2rem;
        --fs-myName: 2rem;
        --fs-myProfession: 1rem;
        --fs-subHeading: 2.8rem;
        --fs-subHeading_strong: 3.3rem;
        --fs-mySelfDescription: 1.3rem;
        --fs-medialElementH3: 1.3rem;
        --fs-mediaElementP: 0.7rem;
        --fs-myEmail: 1.3rem;

        --w-logo: 65px;
        --lh-mySelfDescription: 2.3rem;
        --w-card: 125px;
        --h-cardContainer: 260px;
    }

    header {
        padding: 0rem 3.5rem 0rem 3.5rem;
    }

    .intro-section, .about-section, .work-section {
        margin: 4rem 3rem 8rem 3rem;
    }

    .social-links {
        width: 180px;
    }

    .fa-discord, .fa-github, .fa-instagram, .fa-linkedin, .fa-twitter {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 210px) {
    :root {
        --fs-navbar: 2rem;
        --fs-myName: 2rem;
        --fs-myProfession: 1rem;
        --fs-subHeading: 2.3rem;
        --fs-subHeading_strong: 2.8rem;
        --fs-mySelfDescription: 1.2rem;
        --fs-medialElementH3: 1.3rem;
        --fs-mediaElementP: 0.7rem;
        --fs-myEmail: 1.3rem;

        --w-logo: 50px;
        --lh-mySelfDescription: 2.3rem;
        --w-card: 125px;
        --h-cardContainer: 260px;
    }

    header {
        padding: 0rem 3rem 0rem 3rem;
    }

    .intro-section, .about-section, .work-section {
        margin: 4rem 2.5rem 8rem 2.5rem;
    }

    .fa-html5, .fa-css3-alt, .fa-square-js, .fa-react {
        font-size: 5rem;
    }

    .social-links {
        width: 150px;
    }

    .fa-discord, .fa-github, .fa-instagram, .fa-linkedin, .fa-twitter {
        font-size: 1.8rem;
    }
}